<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>C6 LogIn</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="POST" action="/">
                <input type="text" name="email" placeholder="email" />
                <input type="password" name="password" placeholder="password" />
                <button>login</button>
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
    </div>



    <script type="text/javascript" src="../public/scripts/script.js"></script>
</body>

</html>